{% extends 'base.html' %}

{% block header %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <title>StudyBuddies | Authentication</title>
{% endblock %}

{% block content %}
    <div class="container">
    {% if not authenticated %}
        <button class="login" id="btnLogin"> Login </button>
    {% else %}
        <button class="login" id="btnLogout"> Logout </button>
    {% endif %}
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}